@use '../utilities/breakpoint';

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --step-3: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
    --step-4: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
    --step-5: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);

    color: rgba(255, 255, 255, 0.87);

    color-scheme: light dark;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

body {
    display: flex;
    margin: 0;
}

#app {
    margin-inline: auto;
    padding: 1rem;
    max-width: 1280px;
    text-align: center;

    @include breakpoint.laptop {
        padding: 2rem;
    }
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
