@use '../utilities/breakpoint';

$grid-element-height: 1.75rem;

div {
    max-height: 100%;
}
ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
}

.extension-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.25rem;
}



.row {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: space-between;
    max-width: 100%;
}
button,
input {
    min-height: $grid-element-height;
}

input {
    width: 80%;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

button.toggled {
    font-weight: 700;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-row {
    flex-direction: row;
    display: flex;
}

.reset {
    width: 100%;
}
.wide-cell {
    flex: 1 1 auto;
    width: 80%;
    max-width: calc(80% - 0.5rem);
}
.narrow-cell {
    flex: 0 0 0.2;
    min-width: 20%;
}
.narrowest-cell {
    flex: 0 0 0.15;
    min-width: 15%;
}
.owned {
    border-width: 0.125rem;
    border-style: solid;
    border-radius: 0.5rem;
}

@keyframes pulse {
    0%,
    15%,
    85%,
    100% {
        border-color: #fab;
    }
    50% {
        border-color: #d24; /* A lighter shade of red */
    }
}

.filter {
    padding: 0.5rem 0.5rem 0 0.5rem;
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.filters-section {
    gap: 0.5rem;
    align-items: center;
    font-size: 0.75rem;
}

.pulse-border {
    animation: pulse 1.2s infinite; /* Adjust the duration (2s) as needed */
    border-style: solid; /* Ensure the border is visible */
    border-width: 2px; /* Example border width, adjust as necessary */
}

.switch {
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 0.75rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border: 2px #ccc solid;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider:before {
    transform: translateX(calc(0.75rem));
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.material-symbols-outlined {
    font-size: 1.25rem;
}

.material-symbols-outlined.small {
    font-size: 1rem;
}
.material-symbols-outlined.toggled {
  font-weight: 700;
}
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
    white-space: nowrap !important;
}
.help {
  // max-width: 80%;
  min-height: 500px;
  margin: 0px auto;
  overflow-y: auto;
}
.help li {
  font-size: 0.75rem !important;  
  list-style-type: disc;
  list-style-position: inside; /* bullets outside the content */
  margin: 0.5em 0; /* vertical margins */
  padding-left: 1rem; /* space between bullets and content */
  
}

.help .material-symbols-outlined, .help .material-symbols-outlined.small {
  font-size: 0.75rem !important;  

}